/* About Page Styles */
.about {
    padding: 5rem 2rem;
    background-color: #f4f4f4;
    text-align: center;
    min-height: calc(100vh + -314px);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.about-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-text p {
    font-size: 1.2rem;
    color: #333;
}

@media (min-width: 768px) {
    .about-container {
        flex-direction: row;
    }

    .about-text {
        max-width: 500px;
    }
}
