/* Home Page Styles */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('../assets/hero-image.jpg') no-repeat center center; */
    background-size: cover;
    color: white;
    text-align: center;
    min-height: calc(100vh + -83px);
    position: relative;
    top: 0;
}

.hero-content {
    z-index: 2;
    position: relative;
    top: -90px;
}

.hero h1 {
    font-size: 2.8rem;
}

.hero p {
    font-size: 1.2rem;
    color: #ff4500;
    font-weight: 500;
}

.hero-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

.animate-section {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 1s ease;
}
