.navbar {
    background-color: #444f45;
    color: white;
    padding: 10px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid hsla(0, 0%, 13%, 0.5);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ff4500;
}

@media (max-width: 768px) {
    .navbar-links {
        gap: 1rem;
        padding: 0;
    }
}

.Contact-Us {
    border: 1px solid #ff4500;
    background: #ff4500;
    padding: 0 7px;
    border-radius: 9px;

}

.Contact-Us a:hover {
    color: #444f45;
}