.navbar {
    background: linear-gradient(135deg, #2d3c24, #444f45);
    color: white;
    padding: 10px 1rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky !important;
    top: 0;
    z-index: 1000;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid hsla(0, 0%, 13%, 0.5);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar-links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #def7b475;
    transform: scaleX(0);
    transform-origin: center;
    visibility: hidden;
    transition: transform 0.3s ease;
}

.navbar-links a:hover::before {
    transform: scaleX(1);
    visibility: visible;
}


@media (max-width: 768px) {
    .navbar-links {
        gap: 1rem;
        padding: 0;
    }
}

.Contact-Us a:hover {
    color: #444f45;
}

/* Hamburger icon */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 100%;
    height: 5px;
    background: white;
    border-radius: 2px;
    margin-bottom: 4px;
}

/* Mobile menu */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        width: 40px;
        padding: 0;
        height: auto;
        cursor: pointer;
    }
    
    .navbar-links {
        display: flex;
        flex-direction: column;
        width: 50%;
        background: linear-gradient(135deg, #2d3c24, #444f45);
        position: absolute;
        top: calc(100% - 0px);
        right: 0;
        padding: 2rem 0;
        opacity: 0; /* Start with invisible */
        transform: scaleX(0); /* Start collapsed */
        transform-origin: right; /* Animate from the top */
        transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
        pointer-events: none; /* Prevent interactions when closed */
        height: calc(100vh - 80px);
        border-radius: 100px 0 0 100px;
    }
    
    .navbar-links.open {
        opacity: 1; /* Fully visible */
        transform: scaleX(1); /* Fully expanded */
        pointer-events: auto; /* Allow interactions when open */
        opacity: 0.9;
    }
    

    .navbar-links li {
        text-align: center;
        margin: 0.5rem 0;
    }
}

.hamburger svg {
    width: 40px;
    height: 40px;
    color: white;
}