.projects {
    padding: 5rem 2rem;
    background-color: #f9f9f9;
    min-height: calc(100vh + -314px);
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

.projects::before {
    content: "";
    background-color: #def7b475;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    border-radius: 100px 0 0 100px;
}


.projects h2 {
    font-size: 2.5rem;
    text-align: start;
    margin-bottom: 3rem;
    color: #333;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideInFromTop 1s ease-in-out;
    z-index: 1;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    animation: fadeInUp 1s ease-in-out;
}

.project-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    transition: transform 0.5s ease;
}

.project-card h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #222;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.project-card p {
    font-size: 1rem;
    color: #666;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card:hover h3 {
    color: #ff4500;
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
}

.project-card:hover p {
    color: #444;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .project-card h3 {
        font-size: 1.5rem;
    }

    .project-card p {
        font-size: 0.9rem;
    }
}

.animate-section.projects-wrap.active {
    opacity: 1;
    transform: translateY(0);
    animation: scaleUpAndFade 1.2s ease-out;
}

@keyframes scaleUpAndFade {
    0% {
        opacity: 0;
        transform: translateY(100px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}