/* Skills Page Styles */
.skills {
    padding: 4rem 2rem;
    background-color: #fff;
    text-align: center;
    min-height: calc(100vh + -314px);
}

.skills h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.skills-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 0;
}

.skills-list li {
    font-size: 1.2rem;
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.skills-list li:hover {
    background-color: #f39c12;
    color: white;
}
